body {
    background-color: #86B4B7;
}

.wrapper{
    display: flex; 
    flex-wrap: wrap;
    flex-flow: row; 
    justify-content: space-evenly;
    padding: 30px;
    background-color: #5c84a2;
    border-radius: 5px;
    min-height: 100%;
    max-width: 95%;
}

.form-content{
    background-color: #4ecdb6;
    margin-right: 20px;
    border-radius: 5px;
}

#myform, #main-content, #boxing{
    display: flex;
    flex-flow: column;
    align-items: center;

}

#main-content {
    background-color: #4ecdb6;
    margin-right: 20px;
    border-radius: 5px;
    
}

.informationbox {
    display: flex;
    flex-flow: column;
    background-color: #4ecdb6;
    border-radius: 5px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    text-align: center;
}

#boxing {
    background-color: #234547;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}


.card {
    font-size: larger;
    border: 2px solid white;
    text-align: center;
    min-width: 80%;
    margin: 15px;
    background: #234547;
    border-radius: 3px;
    padding: 20px;
    color: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}


input[type=text],
input[type=number] {
    
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #234547;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: white;
    border: none;
    
}

#description {
    padding-bottom: 60px;
}

section {
    min-width: 220px;
    width: 50%;
    
}

button {
    width: 50%;
    height: 40px;
    border: none;
    background: #3271BA;
    border-radius: 31px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}


.texted {
    padding: none;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.descBtn {
    margin-bottom: 20px;
    min-width: 30%;
    max-width: 40%;
    font-size: large;
}

.form-content {
    display: felx;
    flex-flow: row;
    justify-content: space-evenly;
}



#addBtn {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-bottom: 20px;
    max-width: 20%;
    min-width: 10%;
}